body
{
	padding:0;
	background-color: #E6E6E6 !important;
}
header
{
	margin: 0 !important;
}
#corps
{

}
#listeAmi
{
	height: 100%;
	min-width: 80px !important;
	background-color: #798081;
	z-index: 1;
	margin-top: -20px;
	padding-top: 10px;
}
.label
{
	padding: 40px !important;
}
.friendPicture
{
	/*position: relative;
	float: left;*/
	margin: 5px 0 0 25px;
	max-width: 30px;
	left:0px;

}
.friends
{
	width: 100%;
	margin: 10px;
}
.friends span
{
	/*float: left;*/
	margin: 15px 0 0 5px;
}
#chat
{
	bottom: 10px;
	right: 0px;
}

textarea {
   resize: none;
}

.col-md-offset-5.col-md-7.cancel-padding {
    padding: 0;
}

.col-md-2.cancel-padding{
	padding: 0;
}

.area{
	margin-top: 20px; 
	margin-left: 0 !important;
	margin-right: 0 !important;
}

footer
{

}